__pycache__
/sif/
/saved_sim_archive/
/saved_sim_archive_dolfinx/
/saved_sim/
/visualization/paraview/out/*
/.idea/
/input_patients_data/old/
/misc/
/.venv
temp/
notebooks/.ipynb_checkpoints/
Pipfile*
visualization/python/out/